{% extends 'base.html.twig' %}

{% block body %} 
 <div class="container mt-5">
            <div class="card">
                <div class="card-header">Enregistrer une Classe</div>
                <div class="card-body">
                       {{form(formClasse)}}    
                </div>
            </div>
            
          
      </div>
{% endblock %}


