{# templates/emails/registration.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Our Service</title>
</head>
<body>
    <h1>Hello {{ user.nom }}!</h1>
    <p>Thank you for registering with us.</p>
    <p>We’re excited to have you on board!</p>
</body>
</html>